.square {
    width:100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    text-align:center;
    font-size: 85px;
    font-family: monospace;
}

.column2 .square {
    border-right:none;
    border-left:none;
}

#s0, #s1, #s2, #s3, #s4, #s5 {
    border-bottom: none;
}

.board {
    display:flex;
    justify-content: center;
}

h1 {
    text-align: center;
}